body {
  margin: 0;
}

.admin-sidebar {
  background: #6a1b9a;
  height: 100%;
  width: 250px;
}

.admin-sidebar-logo {
  height: 150px;
  padding: 20px 0;
}

.admin-sidebar-logo img {
  width: 100%;
}
