div.card-panel.bh-user-agreement {
    margin-top: 85px !important;
    max-width: 65%;
}

img.materialboxed {
    background-color: #0000001a;
    padding: 10px;
    border-radius: 5px;
}

span.bh-user-full-name {
    font-size: 30px;
    font-weight: 400;
}

span.bh-user-year-course, span.bh-user-college {
    font-size: 16px;
}

h4.bh-agreement-title {
    color: #555555;
    text-align: center;
}

div.bh-confirmation {
    text-align: center;
}

button.bh-vote-now {
    font-weight: bolder;
}

/* Responsive */

@media (max-width: 1333px) {
    div.card-panel.bh-user-agreement {
        max-width: 80%;
    }
}


@media (max-width: 1059px) {
    div.card-panel.bh-user-agreement {
        max-width: 90%;
    }
}


@media (max-width: 960px) {
    div.card-panel.bh-user-agreement {
        max-width: 90%;
    }
}