.bh-theme {
    background-color: #37214b !important;
    color: #ffffff;
}

.bh-btn-color {
    color: #37214b !important;
}

.bh-box-wrapper {
    position:fixed;
    text-align: center;
}

input.bh-input-shadow {
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}

input.bh-input-round {
    color: #37214b !important;
    border-radius: 3px !important;
    padding: 2px 4px!important;
    font-size: 22px !important;
    text-align: center !important;
    border: none !important;
    transition: .5s !important;
}

.bh-input-round:focus {
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28) !important;
}

.bh-center-center {
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    z-index: 75;
    height: 100%;
    top: 0;
}

.bh-start-center {
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: end;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: start;
    max-width: 100%;
    width: 100%;
    z-index: 75;
    height: 100%;
    top: 0;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

