input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#idNumber {
    width: 200px;
}

div.bh-login-logo-container>img {
    width: 315px;
    margin-bottom: 80px;
    margin-top: -105px;
}